body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn a{
    padding: 7px 10px;
    background-color:#8298f8;
    color: white;
    border:0; 
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 0;
}
.btn a:hover{
    box-shadow: 5px 10px 30px rgba(130,147,255,0.7);
    transition: all 0.5s ease-in 0.1s;
}

.title{
    text-align: center;
    margin: 50px;
    
}

.title h1{
    font-size: 40px;
    line-height: 10px;
    margin-top: 20px;
    
}
.title p{
   
}



/* header start */
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top:0; 
    align-items: center;
    background: #fff;
    

}
header div{
    float:left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left: 200px;
    padding: 20px;
    padding-top: 30px;
}
header .logo a{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #7f97ff;
}
header .nav{
    position: absolute;
    top:0;
    right:0;
    margin-right: 200px;
}
header .nav ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding: 10px;
    padding-right: 40px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(30, 29, 29);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
header .nav ul li a:hover{
    color: #7f97ff;
}
/* header end  */

/* section start  */

.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.half1, .half2{
    width: 50%;
}
.half1{
    padding-left: 200px;
}
.half1 h1{
    font-size: 50px;
    line-height: 0px;
}
.half1 input{
    padding: 7px 10px;
    background-color:#7f97ff;
    color: white;
    border:0; 
    cursor: pointer;
}
.half1 input:hover{
    box-shadow: 5px 10px 30px rgba(130,147,255,0.7);
    transition: all 0.5s ease-in 0.1s;
}
.half2 img{
    max-width: 100%;
    height: auto;
}

.section2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.section2 div{
    width: 40%;
    margin:  auto;
}
.section2 img{
    width: 90%;
    height:auto;
    overflow: none;
}

/* offered services  */

.services{
    width: 100%;

    margin: 10px auto;
    text-align: center;
}

.service{
    width: 100%;
    overflow: hidden;
    
}
.serve{
    width: 31%;
    float: left;
    padding: 10px;
    margin: 0 auto;
    padding-bottom:20px;
}
.service i{
    font-size: 45px;
}
.serve:hover{
    background-color:#7f97ff;
    color:white;
}

/* counter section  */
.counter{
    width: 100%;
    height: 150px;
    background-color: #7f97ff;
    
   
}
.counter div{
    float: left;
    width: 21%;
    margin: 0 auto;
   
    position: relative;
    top:10px;
    left: 200px;
    
}
.counter h1{
    text-align: center;
    color: white;
    font-size: 46px;
    line-height: 10px;
}
.counter p{
    text-align: center;
    color: white;
}

/* projects section  */
.project{
    float: left;
    margin-left:200px;
    
}
.project div{
    float: left;
    width: 30%;
    text-align: center;
    padding: 15px;
    padding-left: 0;
    
    justify-content: center;
}
.project div img{
    width: 100%;
    height: auto;
    
    
}
.project figure{
    background: linear-gradient(#7f97ff, #e87fff);
    width: 100%;
    height: auto;
    
    
    overflow: hidden;
}
.project figure:hover img{
    opacity: 0.5;
}

/* plan section  */

.card{
    display: flex;
    flex: wrap;
    width: 75%;
    height: auto;
    justify-content: space-around;
    margin: 0 auto;
}
.card1{
    background: #f6f5f5;
    text-align: center;
    border: 1px solid #eadfdf;
    padding: 15px;
}
.card1:hover{
    background-color: #7f97ff;
    color: #fff;
}
.card1:hover a{
    color:black;
    background-color: #ffffff;
}
.card1 h1{

}

/* foooter section  */
footer{
    width: 100%;
    position: absolute;
    background: #12153c;
    color:#fff;
    margin-top: 100px;
    display: flex;
    margin:  auto;
    justify-content: center;
    
}
.foot{
   
    width: 80%;
    justify-content: space-around;
    
    padding:50px 100px ;
   
    overflow: hidden;
}
.foot p{
    color:#aca7a7
}
.foot:first-child{
    padding-left: 200px;
}